.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 20px;
  width: 30%;

  &__buttons {
    display: flex;
    gap: 30px;
  }
}
