.container {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 20px auto;

  & > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 30px;
    width: 100%;
  }
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  background: rgba(63, 12, 248, 0.2);
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(63, 12, 248, 0.3);
  }
}
